/*AboutUs*/
.About-para
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: black;
	margin-left: 400px;
	margin-right:400px;
	text-align: justify;
}

#About
{
	width:70%;
	margin-left:16%;
	margin-right:14%;
}

#About .container
{
	padding: 15px 14px;
	border: 1px solid black;
	cursor:pointer;
	margin: 10px 0;
	position:relative;
	border-radius:50px;
	background-color:#add8f6;
}

#About .container img
{
	width: 9%;
	height:14vh;
	border-radius:50%;
	border:1px solid black;
}

#About .container span
{
	width:89%;
	float:right;
	font-size:18px;
	color:black;
	margin-top:10px;
}

