/*AboutUs*/
.About-para {
	font-size: 18px;
	margin-left: 260px;
	margin-right: 240px;
	text-align: justify;
	padding: 20px 17px;
	border-radius: 8px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-shadow: 1px 1px darkcyan;
}

#About {
	width: 100%;
}

#About .container {
	width:1200px;
	margin-left: 16%;
	margin-right: 14%;
	padding: 15px 14px 10px 14px;
	border: 1px solid black;
	cursor: pointer;
	margin-top: 10px;
	position: relative;
	border-radius: 50px;
	background-color: #add8f6;
	box-shadow: 0 0 20px #2022c3;
}

#About .container img {
	width: 9%;
	height: 13vh;
	position: relative;
	border-radius: 50%;
	border: 1px solid black;
}

#About .container span {
	width: 89%;
	float: right;
	position: relative;
	font-size: 18px;
	color: black;
	margin-top: 10px;
}