body {
	font-family: Arial, sans-serif;
	background-color: #1f1a1a;
	margin: 0;
	padding: 0;
}

header {
	background-image: url("../Images/almimg.jpg");
    background-size: cover;
    background-position: 0px 750px;
	color: #fff;
	padding: 20px;
    height: 350px;
}

#nav_header{
background-color: rgb(43, 183, 248);
height : 30px;
width: 100;
font-size: 27px;
margin: -20px;
padding-top: 10px;
padding-bottom: 20px;
}
 

#nav_header a{
	display: block;
	color: rgb(43, 183, 248);
	text-align:center;
	padding: 10px 20px;
	margin-top: 0px;
	margin-right: 5px;
	font-size : 14px;
	text-decoration: none;
	background-color: #080707;
	border-radius: 12px;
}
nav ul {
	list-style-type: none;
    margin:0;
	  
}

nav li {
	display: inline-block;
    
    margin:0;
    border-radius: 25px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 3px;
}

nav a {
	color: #060606;
	text-decoration: none;
     
}

.hero {
	background-size: cover;
	color: rgb(43, 183, 248);
	padding: 5px 15px;
	text-align: center;
}

.hero h1{
    font-size: 40px;
    color: rgb(43, 183, 248);
    text-align: left;
}

.hero h2 {
	font-size: 30px;
	margin-top: 0;
}

.hero p {
	font-size: 18px;
	margin-bottom: 20px;
}

.button {
	background-color: #0072c6;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}


.display{
  
	place-items: center;
	text-align: center;
	margin-left: 300px;
	
  }
 

  .events{
  
	font-size: 25px;
	background-color: #050606;
	max-width: 100%;
	text-align: center;
	color :rgb(248, 249, 244);
  }

  .events ul{
	list-style-type: none; 
 
  }

  .events ul a{
	color:rgb(43, 183, 248);
  }
footer{
    background-color: #a1ceef;
    height: 50px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 25px;
}
