body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

header {
	background-image: url("../Images/rla.jpg");
	background-size: cover;
	background-position: 0px 800px;
	color: #fff;
	padding: 20px;
	height: 300px;
}

#nav_header {
	background-color: #acd0ec;
	height: 35px;
	width: 1070px;
	font-size: 30px;
	margin: -20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	border-radius: 25px;
	padding-right: 30px;
	padding-left: 30px;
	border-width: 3px;
}

nav a {
	color: #130808;
	text-decoration: none;
}

.hero {
	background-size: cover;
	color: #347503;
	padding: 5px 15px;
	text-align: center;
}

.hero h1 {
	font-size: 40px;
	color: rgb(7, 72, 142);
	text-align: left;
}

.hero h2 {
	font-size: 30px;
	margin-top: 0;
}

.hero p {
	font-size: 18px;
	margin-bottom: 20px;
}

.button {
	background-color: #0072c6;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.display {
	place-items: center;
	text-align: center;
	margin-left: 300px;
}

.events {
	font-size: 25px;
	background-color: #f9f57d;
	max-width: 100%;
	text-align: center;
}

.events ul {
	list-style-type: none;
}

footer {
	background-color: #a1ceef;
	height: 50px;
	margin-bottom: 0;
	text-align: center;
	padding-top: 25px;
}