/*Buttons*/
.dropdown 
{
  	position: relative;
  	display: inline-block;
}

.dropbtn 
{
	background-color: #ffffff00;
	color: black;
	display: inline-block;
	padding: 13px 16px;
	font-size: 20px;
	border: none;
	position: relative;
	cursor: pointer;
	margin-top: 0.4%;
	margin-bottom: 0.2%;
	border-right:1px solid blue;
}

.dropbtn:hover{color: blue;}

@media screen and (max-width: 600px)
{
	.dropbtn{font-size:9px;padding:4px 7px;}
}
