@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #9fa4f8, #1a25ea);
    background: linear-gradient(to right, #5454f1, #010110);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.panel-container {
    background: linear-gradient(to right, #05052d, #2525ca);
    box-shadow: 0 0 30px rgba(222, 207, 9, 0.3);
    border-radius: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 500px;
    max-height: 900px;
    color: #8288f3;
    margin: 10% auto 2% auto;
}

.panel-container strong {
    line-height: 35px;
}

.ratings-container {
    display: inline-flex;
    margin: 0 0;
}

.rating {
    flex: 0;
    cursor: pointer;
    padding: 35px;
    margin: 10px 5px;
}

.rating:hover,
.rating.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
    width: 40px;
}

.rating small {
    color: #fff;
    display: inline-block;
    margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
    color: #8f94fb;
}

.btn {
    background-color: #8f94fb;
    color: #000;
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: 750;

}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.fa-heart {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
}

.credit a {
    text-decoration: none;
    color: #fff;
}

.credit {
    text-align: center;
}