/*Login & Register Form*/
/* Full-width input fields */
input[type=text], input[type=password]
{
	width: 100%;
	margin: 0.5% 0;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 17px;
	background-color:#ddd;
}

.name input[type=text]
{
	width: 46%;
	margin: 0.3% 0;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 14px;
	background-color:#ddd;
}

input[type=text]:focus, input[type=password]:focus{background-color:white;}
.name input[type=text]:focus{background-color:white;}

/* Set a style for register & login button */
.lrbtn
{
	background-color: blue;
	color: white;
	padding: 10px 20px;
	margin: 1.1% 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
	font-size: 14px;
}

.lrbtn:hover {opacity: 1;}

.btn-group button
{
	background-color: #ffffff00;
  	border: none;
  	color: black;
  	padding: 6px 24px; /* Some padding */
  	cursor: pointer; /* Pointer/hand icon */
  	float: left; /* Float the buttons side by side */
	width:49%;
	font-size:17px;
}

/* Clear floats (clearfix hack)*/
.btn-group:after
{
  	content: "";
  	clear: both;
  	display: table;
}

.btn-group .p1l
{
	border-bottom:1px solid blue; 
	font-weight:bold;
	margin-top:2.5%;
	color:blue;
}

.btn-group .p2l
{
	font-weight:bold;
	margin-top:2.5%;
}

.modal hr 
{
  	border: 1px solid black;
  	margin-bottom: 1.7%;
}

.containerL {padding: 20px;display:none;}
.containerR {padding: 20px;}


label{font-size:18px;}

.heading
{
	text-align: center;
	margin: 17px 0 12px 0;
	position: relative
}

p .psw
{
	float: right;
	padding-top: 17px;
}

/* The Modal (background) */
.modal
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto;  /*Enable scroll if needed */
 	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 2%;
}

/* Modal Content/Box */
.modal-content
{
	background-color: #fefefe;
	margin: 2% auto 5% auto; /* 2% from the top, 5% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
	color:black;
	border-radius:6px;
}

/* The Close Button (x) */
.close
{
	position: absolute;
	color:black;
	right: 2.1%;
	top: 0;
	font-size: 30px;
	font-weight: bold;
}

.close:hover, close:focus {color: red;cursor: pointer;}

/*Caps lock warning in registration and login form*/
#text{display:none;color:red;font-size:11px;margin-bottom:2px;font-weight:bold;}
#text1{display:none;color:red;font-size:11px;margin-bottom:2px;font-weight:bold;}
#text2{display:none;color:red;font-size:11px;margin-bottom:2px;font-weight:bold;}

/* Set a grey background color and center the text of the "sign up" section */
.signup
{
  	background-color: lightblue;
  	text-align: center;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin 
{
  	background-color: lightblue;
  	text-align: center;
}

/* Add Zoom Animation */
.animate {-webkit-animation: animatezoom 0.6s;animation: animatezoom 0.6s;}

@-webkit-keyframes animatezoom 
{
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom
{
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

@media screen and (max-width: 300px)
{
	p .psw 
	{
		display: block;
		float: none;
	}
	.lrbtn{font-size:11px;}
	.btn-group button {font-size:11px;}
	input[type=text], input[type=password]{font-size:11px;}
	.name input[type=text]{font-size:11px;}
}
