nav {
    background: #ffffff00;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.user-pic i.fa-user {
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 0 0 20px #32314f;
}

.sub-menu-wrap.open-menu {
    max-height: 350px;
    border-radius: 8px;
}

.sub-menu {
    background: #32314f;
    padding: 3px;
    margin: 2px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.user-info i {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 0.2px 0 0.2px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 0.2px 0;
}

.sub-menu-link p {
    width: 100%;
    text-align: left;
    color: white;
}

.sub-menu-link i {
    width: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 0.5px;
    margin-right: 5px;
    margin-left: 3px;
}

.sub-menu-link span {
    font-size: 11px;
    transition: transform 0.5s;
    margin-right: 10px;
    color: white;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}