#product
{
	text-align:center;
}

#product .pro
{
	padding: 15px 14px;
	width:24%;
	border: none;
	min-width:60px;
	cursor:pointer;
	margin: 10px 0;
	position:relative;
	text-align:center;
	border-radius:8px;
}

#product .pro:hover{transform:scale(1.2);border:1px solid white;background-color:#ffffff00;}

#product .pro img
{
	width: 95%;
	height:95%;
	border-radius:8px;
}

#product .pro span
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:blue;
}

.section-p1{padding: 10px 20px;}

#product .containerpro
{
	display : flex;
	justify-content: space-around;
}

.t1
{
	margin-left:7%;
	font-size:32px;
}
