* {
	box-sizing: border-box;
}

.mySlides1,
.mySlides2,
.mySlides3 {
	display: none;
}

/* Slideshow container */
.slideshow-container1 {
	width: 22.6%;
	position: relative;
	height: 51%;
	left: -5%;
	margin-top: 3%;
}

.slideshow-container2 {
	width: 60%;
	position: relative;
	height: 64%;
	margin-left: -3%;
	margin-right: -3%;
	transition: transform 0.4s;
}

.slideshow-container3 {
	width: 22.6%;
	position: relative;
	height: 51%;
	right: -5%;
	margin-top: 3%;
}

/* Number text (1/3 etc) */
.numbertext {
	color: yellow;
	font-weight: bold;
	font-size: 18px;
	padding: 8px 12px;
	position: absolute;
	user-select: none;
	top: 0;
}

/* The dots/bullets/indicators */
.dot1 {
	height: 15px;
	width: 15px;
	background-color: #c0c0c0;
	border-radius: 50%;
	display: relative;
	margin: 0 2px;
	transition: background-color 0.1s ease;
}

.dot2 {
	height: 3.8%;
	width: 1.7%;
	background-color: #c0c0c0;
	border-radius: 50%;
	display: inline-block;
	margin: 0 2px;
	transition: background-color 0.1s ease;
	bottom: 0;
}

.dot3 {
	height: 15px;
	width: 15px;
	background-color: #c0c0c0;
	border-radius: 50%;
	display: relative;
	margin: 0 2px;
	transition: background-color 0.1s ease;
}

.active {
	background-color: blue;
	width: 4%;
	border-radius: 8px;
}

/*animation*/
.animationR {
	position: relative;
	animation: animateright 0.3s;
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0;
	}

	to {
		right: 0;
		opacity: 1;
	}
}


/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 18px 24px;
	margin-top: -2.2%;
	color: black;
	font-weight: bold;
	font-size: 24px;
	transition: 0.6s ease;
	border-radius: 50%;
	user-select: none;
	background-color: white;
	display: inline-block;
	z-index: 1;
}

/* Position the "next button" to the right */
.prev {
	left: -11%;
	border-radius: 50%;
	;
}

/* Position the "next button" to the right */
.next {
	right: -11%;
	border-radius: 50%;
	;
}

.prev:hover,
.next:hover {
	background-color: #454545;
	color: white;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

	.numbertext,
	.prev,
	.next,
	.text {
		font-size: 11px;
		padding: 10px 14px;
	}
}