.leftdiv {
	float: left;
}

.rightdiv {
	float: right;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.header {
	width: 100%;
	background-color: #ffffff00;
}

.background {
	background: url(../Images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	height: 100%;
	width: 100%;
	z-index: 1;
}

.background1 {
	background: url(../Images/Placement5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	height: 100%;
	width: 100%;
	z-index: 1;
}

/*About Us*/
.About-Us {
	width: 100%;
	background-color: white;
	border: none;
	color: black;
}

/*Slideshow*/
.slideshow {
	background-color: black;
	width: 100%;
	border: none;
	overflow: hidden;
}

.slideshow img {
	width: 100%;
	height: 94%;
	border-radius: 6px;
	user-select: none;
	border: 1px solid white;
}

/*space*/
.space {
	width: 100%;
	height: 6%;
	background-color: white;
}

.s1 {
	margin-left: 7%;
	font-size: 32px;
	color: white;
	margin-bottom: 3%;
}

/*Showcase*/
.showcase {
	color: black;
	background-color: white;
	width: 100%;
	border-top: 1px solid white;
}

/*Footer*/
.footer {
	color: blue;
	background-color: black;
	width: 100%;
	border-top: 2px solid grey;
}
