#product
{
	text-align:center;
	background-color: white;
}

#product .pro
{
	padding: 15px 14px;
	width:24%;
	border: none;
	min-width:60px;
	cursor:pointer;
	margin: 10px 0;
	position:relative;
	text-align:center;
	border-radius:8px;
}

#product .pro:hover{box-shadow: 5px 5px 15px #292a35;border:1px solid white;}

#product .pro img
{
	width: 95%;
	height:95%;
	border-radius:8px;
}

#product .pro span
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:blue;
}

.section-p1{padding: 10px 20px;}

#product .containerpro
{
	display : flex;
	justify-content: space-around;
}

.t1
{
	margin-left:7%;
	font-size:32px;
	font-weight:bold;
}

.t2
{
	margin-left:7%;
	margin-top:.2%;
	color:grey;
	font-size:24px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px)
{
	#product .pro span,.t1
	.text {font-size: 11px}
	.t2{font-size:9px;}
}